
    <div class="one-game" style="display: none">
        <div class="img-n-detail-container">
            <img class="img-grid-lg" src="../static/img/skyrim.jpg">
            <div class="detail-container">
                <div class="game-name">
                    <p class="p-name">The Elder Scrolls V</p>
                </div>
                <div class="detail-items">
                    <div class="detail-box">
                        <div class="detail-item" >Genre:&nbsp </div>
                        <div class="detail-item-content" id="genre">Action</div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-item">Platform:&nbsp </div>
                        <div class="detail-item-content" id="platforms">windows</div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-item">Price:&nbsp </div>
                        <div class="detail-item-content" id="price">$19.99</div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-item">Recommendation:&nbsp </div>
                        <div class="detail-item-content" id="recom">1,809</div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-item">Release Data:&nbsp </div>
                        <div class="detail-item-content" id="date">November 11, 2011</div>
                    </div>
                    <div class="detail-box">
                        <div class="detail-item">Website:&nbsp </div>
                        <a class="website_link" id="website_link" href="https://elderscrolls.bethesda.net/" target="_blank"> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-description">
            EPIC FANTASY REBORN The next chapter in the highly anticipated Elder Scrolls saga
            arrives from the makers of the 2006 and 2008 Games of the Year, Bethesda Game
            Studios. Skyrim reimagines and revolutionizes the open-world fantasy epic, bringing to life a
            complete virtual world open for you to explore.
        </div>
    </div>

